*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
    background-color: lightgrey;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

button {
    font: inherit;
    padding: 0.25em 1em;
}

h1,
h2 {
    margin-bottom: 0.5em;
}

img {
    max-width: 100%;
    margin-top: 1em;
    border: 2px solid grey;
    border-radius: 1em;
}

.container {
    max-width: 75ch;
    margin: 0 auto;
    padding: 1em;
}

.img-container {
    position: relative;
}

.img-attrib {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    padding: 0.25em;
    color: white;
    background-color: #6669;
    border-radius: 0.5em;
}